services:
  backend:
    image: praghavi123/backend:staging
    container_name: backend-staging
    ports:
      - "5000:5000"
    env_file:
      - .env.staging
    depends_on:
      - db

  frontend:
    image: praghavi123/frontend:staging
    container_name: frontend-staging
    ports:
      - "8080:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: db-staging
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
