version: "3.9"

services:
  backend:
    image: praghavi123/backend:staging
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db

  frontend:
    image: praghavi123/frontend:staging
    ports:
      - "8080:80"

  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
