name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Build Backend Image
      run: docker build -t backend:latest ./backend

    - name: Build Frontend Image
      run: docker build -t frontend:latest ./frontend

    - name: Run Backend Test
      run: docker run backend python -c "print('Backend test passed')"

    - name: Trivy Scan Backend Image
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: backend:latest
        severity: HIGH,CRITICAL

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Tag & Push Backend Image
      run: |
        docker tag backend:latest ${{ secrets.DOCKER_USERNAME }}/backend:staging
        docker push ${{ secrets.DOCKER_USERNAME }}/backend:staging

    - name: Tag & Push Frontend Image
      run: |
        docker tag frontend:latest ${{ secrets.DOCKER_USERNAME }}/frontend:staging
        docker push ${{ secrets.DOCKER_USERNAME }}/frontend:staging
